.DS_Store
/_site
/platforms/osx/build
/node_modules
/test/fixtures/files
npm-debug.log
VERSION
platforms/osx/Externals/Sparkle/source
examples/geography-class/layers
examples/road-trip/layers
examples/control-room/layers
/.vscode

plugins/tilemill-autopilot/
projects/cache/
projects/export
projects/*/control-room/
projects/*/geography-class/
projects/*/open-streets-dc/
projects/*/postgre-sample/
projects/*/road-trip/
projects/*/sample/
